<div class="grid-sizer"></div>
<div class="grid-item">

  <a href="{%- if project.redirect -%}
  {%- t project.redirect -%}{% assign _target="_blank" %}{%- else -%}
  {{ project.url | prepend: site.baseurl }}{% assign _target="" %}
  {%- endif -%}" target= "{{ _target }}">
    <div class="card hoverable">
      {%- if project.img -%}
      {%-
      include figure.liquid
      path=project.img
      sizes = "250px"
      alt="project thumbnail"
      -%}
      {%- endif -%}
        <div class="card-body">
          <h2 class="card-title">{%- t project.title -%}
              {%- if project.redirect -%}
              <svg width="2rem" height="2rem" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                  <path
                          d="M17 13.5v6H5v-12h6m3-3h6v6m0-6-9 9"
                          class="icon_svg-stroke"
                          stroke="#999" stroke-width="1.5"
                          fill="none"
                          fill-rule="evenodd"
                          stroke-linecap="round"
                          stroke-linejoin="round">
                  </path>
              </svg>
              {% endif %}
          </h2>
          <p class="card-text">{%- t project.description -%}</p>
          <div class="row ml-1 mr-1 p-0">
            {%- if project.github -%}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ project.github }}"><i class="fab fa-github gh-icon"></i></a>
              </div>
              {%- if project.github_stars -%}
              <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                <i class="fas fa-star"></i>
                <span id="{{ project.github_stars }}-stars"></span>
              </span>
              {%- endif -%}
            </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </a>
</div>