/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

// Typography

p,
h1,
h2,
h3,
h4,
h5,
h6,
em,
div,
li,
span,
strong {
  color: var(--global-text-color);
}

hr {
  border-top: 1px solid var(--global-divider-color);
}

table {
  td,
  th {
    font-size: 1rem;
  }

  th {
    font-weight: bold;
  }
}

a,
table.table a {
  color: var(--global-theme-color);

  &:hover {
    color: var(--global-theme-color);
    text-decoration: underline;
  }

  &:hover:after :not(.nav-item.dropdown) {
    width: 100%;
  }
}

.table-dark {
  background-color: transparent;
  &.table-bordered{
    border: 1px solid var(--global-divider-color) !important;
  }
}

figure,
img {
  max-width: 90vw;
}

blockquote {
  background: var(--global-bg-color);
  border-left: 5px solid var(--global-theme-color);
  margin: 1.5em 0;
  padding: 1em;
  font-size: 1.2rem;

  p {
    margin-bottom: 0;
  }

  /* Tips, warnings, and dangers blockquotes */
  &.block-tip {
    border-color: var(--global-tip-block);
    background-color: var(--global-tip-block-bg);

    p {
      color: var(--global-tip-block-text);
    }

    h1, h2, h3, h4, h5, h6 {
      color: var(--global-tip-block-title);
    }
  }

  &.block-warning {
    border-color: var(--global-warning-block);
    background-color: var(--global-warning-block-bg);

    p {
      color: var(--global-warning-block-text);
    }

    h1, h2, h3, h4, h5, h6 {
      color: var(--global-warning-block-title);
    }
  }

  &.block-danger {
    border-color: var(--global-danger-block);
    background-color: var(--global-danger-block-bg);

    p {
      color: var(--global-danger-block-text);
    }

    h1, h2, h3, h4, h5, h6 {
      color: var(--global-danger-block-title);
    }
  }
}

// Math

.equation {
  margin-bottom: 1rem;
  text-align: center;
}


// Card

.card {
  background-color: var(--global-card-bg-color);

  img {
    width: 100%;
  }

  .card-title {
    color: var(--global-text-color);
    font-size: calc(1.5rem - 0.5vw);

  }

  .card-item {
    width: auto;
    margin-bottom: 10px;
    //margin-bottom: calc(1.0rem + 1.5vw) !important;

    .row {
      display: flex;
      align-items: center;
    }
  }
}

// Citation

.citation,
.citation-number {
  color: var(--global-theme-color);
}

// Profile

.profile {
  width: 100%;

  .more-info {
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: monospace;

    p {
      display: inline-block;
      margin: 0;
    }
  }
}

.profile.float-right {
  margin-left: 1rem;
}

.profile.float-left {
  margin-right: 1rem;
}

@media (min-width: 576px) {
  .profile {
    width: 30%;

    .address {
      p {
        display: block;
      }
    }
  }
}

.img-fluid {
  margin: 0 auto; /* Center the image horizontally */
  padding: 10px; /* Add space around the image */
  box-shadow: 0 0 0 10px rgba($lighter-color1, 0.5);
  border-radius: 50%; /* Make the image circular */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.img-fluid {
  background:  var(--global-image-boarder-color);
  -webkit-background-clip: border-box;
  margin: 0 auto; /* Center the image horizontally */
  padding: 10px; /* Add space around the image */
  //box-shadow: 0 4px 8px var(--global-divider-color); /* Optional: Add a shadow for depth */
  box-shadow: 0 0 0 10px rgba($lighter-color1, 0.5);

  border-radius: 50%; /* Optional: Make the image circular */
  border:  1px solid #{$dark-gray6}; /* Darker border for better contrast *//* Optional: Add a border */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-fluid:hover {
  background:  var(--global-image-boarder-hover-color);
  -webkit-background-clip: border-box;
  transform: scale(1.05); /* Slightly increase the image size on hover */
  box-shadow: 0 0 0 10px var(--global-display-dot-color), /* Change border color on hover */
  0 4px 8px var(--global-divider-color);
}

// about
.about-img-fluid {
  @extend .img-fluid;
  &:hover {
    transform: none;
  }
}


@media (max-width: 1008px) {
  .img-fluid {
    max-width: 75%; /* Use the full width of the container */
    min-width: 150px; /* Prevent the image from becoming too small */
  }

}

.post-description {
  margin-bottom: 2rem;
  font-size: 0.875rem;

  a {
    color: inherit;

    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}


// Navbar customization

.navbar {
  box-shadow: none;
  border-bottom: 1px solid var(--global-divider-color);
  background-color: var(--global-bg-color);
  opacity: 0.95;
}

.navbar .dropdown-menu {
  background-color: var(--global-bg-color);
  border: 1px solid var(--global-divider-color);

  a:not(.active) {
    color: var(--global-text-color);
  }

  a:hover {
    color: var(--global-hover-color);
  }

  .dropdown-divider {
    border-top: 1px solid var(--global-divider-color) !important;
  }
}

.dropdown-item {
  color: var(--global-text-color);

  &:hover {
    color: var(--global-hover-color);
    background-color: var(--global-bg-color);
  }
}

.navbar.navbar-light {
  a {
    &:hover {
      text-decoration: none;
    }
  }

  .navbar-brand {
    color: var(--global-text-color);
  }

  .navbar-nav .nav-item .nav-link {
    color: var(--global-text-color);

    &:hover {
      color: var(--global-hover-color);
    }
  }

  .navbar-nav .nav-item.active>.nav-link {
    background-color: inherit;
    font-weight: bolder;
    color: var(--global-theme-color);

    &:hover {
      color: var(--global-hover-color);
    }
  }

  .navbar-brand.social {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1.7rem;

    a {
      i::before {
        color: var(--global-text-color);
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
      }

      &:hover {
        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }
}

.navbar-toggler {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--global-text-color);
    border-radius: 1px;
    margin-bottom: 4px;
    transition: all 0.2s;
  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggler.collapsed {
  .top-bar {
    transform: rotate(0);
  }

  .middle-bar {
    opacity: 1;
  }

  .bottom-bar {
    transform: rotate(0);
  }
}

#light-toggle {
  padding: 0;
  border: 0;
  background-color: inherit;
  color: var(--global-text-color);

  &:hover {
    color: var(--global-hover-color);
  }
}

// Social (bottom)

.social {
  text-align: center;
  .contact-icons {
    font-size: 4rem;

    a {
      transition: transform 0.3s ease !important; // Add !important here

      i::before {
        background: var(--global-social-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:hover {
        i::before {
          background: var(--global-social-color-hover);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    :hover{
      transform: scale(1.05) !important; // Add !important here

    }
  }

  .contact-note {
    font-size: 0.8rem;
  }
}

.wechat-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

.wechat-modal > img {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  width: 33%;
  max-width: 400px;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 400px){
  .wechat-modal > img {
    width: 100%;
  }
}


// Footer
footer.fixed-bottom {
  background-color: var(--global-footer-bg-color);
  font-size: 0.75rem;

  .container {
    color: var(--global-footer-text-color);
    padding-top: 9px;
    padding-bottom: 8px;
    text-align: center;
  }

  a {
    color: var(--global-footer-hover-text-color);

    &:hover {
      color: var(--global-footer-hover-text-color);
      text-decoration: underline;
    }
  }
}

footer.sticky-bottom {
  border-top: 1px solid var(--global-divider-color);
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9rem;

  .container {
    text-align: center;
  }
}

// CV

.cv {
  margin-bottom: 40px;

  .card {
    background-color: var(--global-card-bg-color);
    border: 1px solid var(--global-divider-color);
    max-width: 3000px;
    .list-group-item {
      background-color: inherit;
      border-color: var(--global-divider-color);
      padding: 10px;
      .badge {
        background: var(--global-cv-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-align-content: center;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
        display: -webkit-flex;
      }
    }
  }
}

.table-cv-map {
  background-color: transparent;
  border: none;
  color: var(--global-text-color);
}

.language {
  display: flex;
  align-items: inherit;
  flex-direction: row;

  p {
    width: 75px;
    margin-right: 20px;
    text-align: right;
    //padding: 0px 5px;
  }
}

@mixin circle($filled) {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid var(--global-text-color);
  @if $filled {
    //background-color: var(--global-text-color);
    background: var(--global-cv-color);
    -webkit-background-clip: content-box;
    -webkit-text-fill-color: transparent;
    -webkit-align-content: center;
  } @else {
    background-color: var(--global-card-bg-color);
  }
}

$levels: (
        "A1": 1,
        "A2": 2,
        "B1": 3,
        "B2": 4,
        "C1": 5,
        "C2": 6
);

@each $level, $filled in $levels {

  .language-level-#{$level} {

    @for $i from 1 through 6 {
      span:nth-child(#{$i}) { @include circle($i <= $filled); }
    }
  }
}



// Repositories

@media (min-width: 768px) {
  .repo {
    max-width: 50%;
  }
}

// Blog

.header-bar {
  border-bottom: 1px solid var(--global-divider-color);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;

  h1 {
    color: var(--global-theme-color);
    font-size: 5rem;
  }
}

.tag-category-list {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--global-divider-color);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;

  ul {
    justify-content: center;
    display: flow-root;
    padding-bottom: 2rem;

    p,
    li {
      list-style: none;
      display: inline-block;
      padding: 1rem 0.5rem;
      color: var(--global-text-color-light);
    }
  }
}


.post-title {
  mjx-container[jax="CHTML"][display="true"] {
    display: unset;
  }
}

.post-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  li {
    border-bottom: 1px solid var(--global-divider-color);
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .post-meta {
      color: var(--global-text-color-light);
      font-size: 0.875rem;
      margin-bottom: 0;
    }

    .post-tags {
      color: var(--global-text-color-light);
      font-size: 0.875rem;
      padding-top: 0.25rem;
      padding-bottom: 0;
    }

    a {
      color: var(--global-text-color);
      text-decoration: none;

      &:hover {
        color: var(--global-theme-color);
      }
    }

    mjx-container[jax="CHTML"][display="true"] {
      display: unset;
    }
  }
}

.pagination {
  .page-item {
    .page-link {
      color: var(--global-text-color);

      &:hover {
        color: $black-color;
      }
    }

    &.active .page-link {
      color: $white-color;
      background-color: var(--global-theme-color);

      &:hover {
        background-color: var(--global-theme-color);
      }
    }
  }
}

.post-span{
  display: inline-flex;
  align-items: center;
}
$dot-display: inline-block;
@mixin dot($width, $height, $radius, $margin-left, $margin-right) {
  display: $dot-display;
  background-color: var( --global-display-dot-color);
  border-radius: $radius;
  width: $width;
  height: $height;
  margin-left: $margin-left;
  margin-right: $margin-right;
}

.medium-dot {
  @include dot(10px, 10px, 50%, 6px, 8px);
}

.squared-medium-dot {
  @include dot(10px, 10px, 30%, 6px, 8px);
}

.small-dot {
  @include dot(8px, 8px, 50%, 10px, 1px);
}

.squared-small-dot {
  @include dot(8px, 8px, 15%, 5px, 4px);
}

.squared-small-right-dot {
  @include dot(8px, 8px, 15%, 8px, 3px);
}

.date-dot {
  @include dot(2px, 2px, 50%, 1px, 1px);
}

.mini-dot {
  @include dot(3px, 3px, 50%, 1px, 1px);
}

.mini-left-dot {
  @include dot(3px, 3px, 50%, 10px, 1px);
}

.mini-right-dot {
  @include dot(3px, 3px, 50%, 1px, 10px);
}

// Post archive

html[data-theme='dark'] .card-header {
  background-color: var(--global-card-header-dark-color);
  color: var(--global-text-color);
}

.bootstrap-table-responsive {
  // Change the font family and size
  font-family: Arial, sans-serif;
  font-size: 16px;

  // Add borders to the table
  border: 1px solid var(--global-table-border-color);

  // Add padding to the cells
  td, th {
    padding: 15px;
  }

  // Style the table header
  thead {
    background-color: var(--global-response-table-head);
    color: var(--global-bg-color);
  }


  /* Set the height of the table */
  height: calc(100vh - 100px);

  /* Add a margin at the bottom */
  margin-bottom: 50px;

  tr:hover {
    background-color: var(--global-divider-color) !important;
  }

  tr:nth-child(even) {
    background-color: var(--global-table-even-child-color);

  }

  tr:nth-child(even):hover {
    background-color: var(--global-light-hover-even-child-color);
  }

  tr.last-row {
    background-color: var(--global-bg-color);
  }

  tr.last-row:hover {
    background-color: var(--global-bg-color) !important;
  }

}

.bootstrap-table-responsive tr.last-row {
  /* Make the empty row grow to fill the available white/dark-space */
  height: 100%;
}


html[data-theme='dark'] .bootstrap-table-responsive{

  border-color: var(--global-dark-table-border-color) !important;
  tr:nth-child(even) {
    background-color: var(--global-table-even-child-dark-color);

  }

  tr:nth-child(even):hover {
    background-color: rgba(255,255,255,.25); /* Adjust this to the desired shade of gray */
  }

  tr.last-row {
    background-color: var(--global-bg-color);
  }

  tr.last-row:hover {
    background-color: var(--global-bg-color) !important;
  }
}


.bootstrap-table .fixed-table-container .table {
  margin-bottom: 1rem !important;
}


// Distill

.distill {
  a:hover {
    border-bottom-color: var(--global-theme-color);
    text-decoration: none;
  }
}


// Projects

.projects {
  a {
    text-decoration: none;

    &:hover {
      .card-title {
        color: var(--global-theme-color);
      }
    }
  }

  .card {
    img {
      width: 100%;
    }
  }

  .card-item {
    width: auto;
    margin-bottom: 10px;

    .row {
      display: flex;
      align-items: center;
    }
  }

  .grid-sizer,
  .grid-item {
    width: 250px;
    margin-bottom: 10px;
  }

  h2.category {
    color: var(--global-divider-color);
    border-bottom: 1px solid var(--global-divider-color);
    padding-top: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: right;
  }

}


* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 100%; /* from .image */
}

.img-magnifier-container img {
  cursor: zoom-in; /* from .main img */
  max-width: 100%; /* from .image img */
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid var(--global-divider-color);
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  //width: 100px;
  //height: 100px;
  z-index: 1;
  width: 14rem; /* from .zoom */
  height: 14rem; /* from .zoom */
  background: var(--global-hover-text-color); /* from .zoom */
  pointer-events: none; /* from .zoom */
  //transition: transform .25s ease, opacity 0s linear .25s;
  transition: transform .25s ease, opacity 0s linear .25s, -webkit-transform .25s ease;
  opacity: 0; /* from .zoom */
  -webkit-transform: scale(0);
  -webkit-transform-origin: 50% 50%;
  transform: scale(0); /* from .zoom */
  transform-origin: 50% 50%; /* from .zoom */
  overflow: hidden; /* from .zoom */

}

.img-magnifier-glass.show {
  -webkit-transform: scale(1);
  transform: scale(1); /* from .zoom.show */
  opacity: 1; /* from .zoom.show */
  /* from .zoom.show */
  transition: transform .25s ease, opacity 0s linear, -webkit-transform .25s ease;
}

.img-magnifier-glass .zoom-image {
  position: absolute; /* from .zoom .zoom-image */
  left: 0; /* from .zoom .zoom-image */
  top: 0; /* from .zoom .zoom-image */
}

.bootstrap.modal-dialog {
  max-width: 95% !important;
}

.bootstrap.modal-content img {
  width: 100%;
  height: auto;
}

.img-zoom {
  transition: transform .2s; /* Animation */
}

.img-zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.magnify {
  position: relative;
}

.magnify::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 200%; /* This controls the zoom level */
  transition: background-position .3s;
  opacity: 0;
}

.magnify:hover::before {
  opacity: 1;
}

.magnify::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent 30%, black 31%);
  pointer-events: none; /* This allows the hover effect on the underlying div */
}

.magnify:hover::before {
  background-position: var(--x) var(--y);
}

.image-container {
  position: relative;
}

.hoverImage {
  width: 100%;
  transition: transform .2s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  //background-color: rgba(0,0,0,0.5);
  display:none;
  justify-content:center;
  align-items:center;
  font-size:50px;
  color:white;
}

//.image-container:hover .hoverImage {
//  transform : scale(1.2);
//}

.image-container:hover .overlay{
  display:flex;
}

// Caption

.caption {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: "Georgia", serif;
  font-style: italic;
  -webkit-flex: auto;
  //width: calc(100% - 1rem);
}




@mixin image-caption-wrapper($width, $display) {
  display: $display;
  .img-magnifier-container img {
    max-width: calc(#{$width} + 0.001rem) !important;
    min-width: calc(#{$width} - 0.001rem) !important;
    width: $width !important;
    margin: auto;
  }
  @if $display == 'grid' {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .caption::before {
    //min-width:  calc(#{$width} + 0.001px) ;
    //max-width:  #{$width} !important;
    max-width:  #{$width} !important;
    min-width: calc(#{$width} - 1rem) !important;
    margin: auto;
    text-align: justify-all;
    box-sizing: border-box;
    grid-column: 1 / -1;
  }
}

.image-270dg-grid-caption-wrapper{
  @include image-caption-wrapper(75%, grid)
}

.image-300dg-grid-caption-wrapper{
  @include image-caption-wrapper(80%, grid)
}

// Publications

.publications {
  margin-top: 2rem;

  h1 {
    color: var(--global-theme-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h2 {
    margin-bottom: 1rem;

    span {
      font-size: 1.5rem;
    }
  }

  h2.bibliography {
    color: var(--global-divider-color);
    border-top: 1px solid var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
  }

  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;

      .preview {
        width: 100%;
        min-width: 80px;
        max-width: 200px;
      }

      .abbr {
        height: 2rem;
        margin-bottom: 0.5rem;

        abbr {
          display: inline-block;
          background-color: var(--global-theme-color);
          padding-left: 1rem;
          padding-right: 1rem;

          a {
            color: white;

            &:hover {
              text-decoration: none;
            }
          }
        }

        .award {
          color: var(--global-theme-color) !important;
          border: 1px solid var(--global-theme-color);
        }
      }

      .title {
        font-weight: bolder;
      }

      .author {
        a {
          border-bottom: 1px dashed var(--global-theme-color);

          &:hover {
            border-bottom-style: solid;
            text-decoration: none;
          }
        }

        >em {
          border-bottom: 1px solid;
          font-style: normal;
        }

        >span.more-authors {
          color: var(--global-text-color-light);
          border-bottom: 1px dashed var(--global-text-color-light);
          cursor: pointer;

          &:hover {
            color: var(--global-text-color);
            border-bottom: 1px dashed var(--global-text-color);
          }
        }
      }

      .links {
        a.btn {
          color: var(--global-text-color);
          border: 1px solid var(--global-text-color);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          margin-left: 0;

          &:hover {
            color: var(--global-theme-color);
            border-color: var(--global-theme-color);
          }
        }
      }

      .badges {
        padding-bottom: 0.5rem;
        span {
          display: inline-block;
          color: $black-color;
          height: 100%;
          padding-right: 0.5rem;
          vertical-align: middle;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .hidden {
        font-size: 0.875rem;
        max-height: 0;
        overflow: hidden;
        text-align: justify;
        transition-property: all;
        transition-duration: 0.15s;
        transition-timing-function: ease;

        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }

        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }

      .hidden.open {
        max-height: 100em;
        transition-property: all;
        transition-duration: 0.15s;
        transition-timing-function: ease;

        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }

      div.abstract.hidden {
        border: dashed 1px var(--global-bg-color);
      }

      div.abstract.hidden.open {
        border-color: var(--global-text-color);
      }
    }
  }
}

// Rouge Color Customization
figure.highlight {
  margin: 0 0 1rem;
}

pre {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 6px;
  padding: 6px 12px;

  pre,
  code {
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

code {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 3px;
  padding: 3px 3px;
}


// Transitioning Themes
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0ms !important;
}

// Extra Markdown style (post Customization)
.post {
  .post-meta {
    color: var(--global-text-color-light);
    font-size: 0.875rem;
    margin-bottom: 0;
  }

  .post-tags {
    color: var(--global-text-color-light);
    font-size: 0.875rem;
    padding-top: 0.25rem;
    padding-bottom: 1rem;

    a {
      color: var(--global-text-color-light);
      text-decoration: none;

      &:hover {
        color: var(--global-theme-color);
      }
    }
  }
}

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 56px;
  z-index: 10;

  /* Dimensions */
  width: 100%;
  height: 1px;

  /* Reset the appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10  */
  background-color: transparent;

  /* Progress bar value for IE10  */
  color: var(--global-theme-color);
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: var(--global-theme-color);
}

progress::-moz-progress-bar {
  background-color: var(--global-theme-color);
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 56px;
  left: 0;
  height: 5px;
  display: block;
}

.progress-bar {
  background-color: var(--global-theme-color);
  width: 0;
  display: block;
  height: inherit;
}

/* Copy button */
.code-display-wrapper {
  position: relative;

  .copy {
    background: var(--global-card-bg-color);
    border-color: var(--global-bg-color);
    border-radius: .3rem;
    border-style: none;
    color: var(--global-text-color);
    font-size: medium;
    opacity: 0;
    position: absolute;
    right: .2rem;
    top: .2rem;
  }

  &:active .copy,
  &:focus .copy,
  &:hover .copy {
    color: var(--global-hover-color);
    opacity: 1;
  }
}

.btn-group.dropdown {
  .btn {
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .btn-secondary.dropdown-toggle {
    border: 1px solid var(--global-divider-color);

    .page-size {
      color: inherit;
    }

    &:not(.active) {
      background-color: var(--global-bg-color) !important;
      color: var(--global-text-color);
    }

    &:hover {
      background-color: var(--global-hover-color) !important;
      color: var(--global-hover-text-color) !important;
    }
  }

  .dropdown-menu {
    background-color: var(--global-bg-color);
  }

  .dropdown-item {
    background-color: var(--global-bg-color);
    color: var(--global-text-color);

    &:hover {
      color: var(--global-hover-color);
    }
  }

  .dropdown-item.active, .dropdown-item:active {
    background-color: var(--global-hover-color);
    color: var(--global-hover-text-color) !important;

    &:hover {
      color: var(--global-hover-text-color);
    }
  }
}

/* Table of Contents */
nav[data-toggle="toc"] {
  top: 5rem;

  .nav .nav>li>a {
    font-size: .75rem;
  }

  .nav>li>a {
    color: var(--global-text-color);
    font-size: .75rem;

    &:hover {
      color: var(--global-hover-color);
      border-left-color: var(--global-hover-color);
    }
  }

  .nav-link.active {
    color: var(--global-theme-color);
    border-left-color: var(--global-theme-color);
    font-size: .75rem;

    &:hover {
      color: var(--global-hover-color);
      border-left-color: var(--global-hover-color);
    }
  }
}

/* small screens */
@media (max-width: 576px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle="toc"] {
    visibility: hidden;
    height: 0;
    top: 0;
  }
}

.featured-posts {
  a {
    color: var(--global-text-color-light);
    text-decoration: none;

    .card-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: calc(1rem + 0.3vw); /* Adjusts font size based on viewport width */
    }

    &:hover {
      color: var(--global-theme-color);

      .card-title {
        color: var(--global-theme-color);
        font-size: calc(1.5rem + 0.5vw);

      }
    }
  }

  .card-item {
    margin-bottom: 10px;
  }

  .post-meta {
    color: var(--global-text-color-light);
    font-size: 0.875rem;
    margin-bottom: 0;
    padding-top: 0.5rem;
  }
}

.unloaded {
  display: none !important;
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}

#toc-sidebar {
  z-index: 1;
}

.echarts {
  height: 400px;
  width: 100%;
}

.map {
  height: 400px;
  width: 100%;
}

@media (max-width: 768px) {
  .card-title {
    font-size: calc(1.2rem + 0.5vw); /* Smaller font size for smaller screens */
  }

  .card-text {
    font-size: calc(0.9rem + 0.3vw); /* Smaller font size for smaller screens */
  }
}

// to more future regarding mobile touch slider
swiper-container {
  --swiper-navigation-color: var(--global-theme-color);
  --swiper-pagination-color: var(--global-theme-color);
  --swiper-pagination-bullet-inactive-color: var(--global-text-color);
}