---
layout: default
---
<div class="post">
  <header class="card-header">
    <h1 class="post-title"><i class="fa-solid fa-layer-group fa-sm"></i> {% t page.title %}</h1>
    <p class="post-description">{%- t descriptions.archive-category -%}</p>
  </header>

  <article>
    <div>
      <table class="table table-sm table-borderless bootstrap-table-responsive">
        {% assign categorized_posts = page.posts %}
        {% assign post_count = categorized_posts | size %}
        {%- for post in categorized_posts -%}
        <tr>
          <th scope="row">{%- include date_format.liquid format='short' date_from=post -%}</th>
          <td>
            {%- if post.redirect == blank -%}
            <a class="news-title" href="{{ post.url | prepend: site.baseurl }}">{% t post.title %}</a>
            {% elsif post.redirect contains '://' or post.redirect contains '/assets/pdf/' %}
            <a class="post-link" href="{{ post.redirect }}" target="_blank">{% t post.title %}</a>
            <svg width="2rem" height="2rem" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
              <path
                        d="M17 13.5v6H5v-12h6m3-3h6v6m0-6-9 9"
                        class="icon_svg-stroke"
                        stroke="#999"
                        stroke-width="1.5"
                        fill="none"
                        fill-rule="evenodd"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                ></path>
            </svg>
            {%- else -%}
            <a class="post-link" href="{{ post.redirect | prepend: site.baseurl }}">{% t post.title %}</a>
            {%- endif -%}
          </td>
        </tr>
        {%- endfor -%}
        {% if post_count < 18 %}
          <tr class="last-row">
            <td></td>
          </tr>
        {% endif %}
      </table>
    </div>
  </article>
</div>